.courseName {
    list-style-type: none;
    text-decoration: underline;
}

.courseDescription {
   list-style-type: none; 
}

.editgoButton {
    margin-bottom: 20px;
}

.addCourseButton {
    margin-left: 40px;
}