.courseName {
    list-style-type: none;
    /* text-decoration: underline; */
    font-size: 25px;
    font-weight: bold;
}

.courseDescription {
   list-style-type: none; 
   font-size: 20px;
   margin-left: 10px;
}

.editgoButton {
    margin-bottom: 20px;
    margin-left: 10px;
}

.addCourseButton {
    margin-left: 40px;
}

h2 {
    margin-left: 40px;
}

.addCourseButton {
    margin-bottom: 20px;
}