.lessonName {
    list-style-type: none;
    text-decoration: underline;
    font-size: 25px;
    
}

.lessonDescription {
   list-style-type: none; 
   font-size: 20px;
   
}

.displayInline {
    
}

.courseName {
    
    
    margin-left: 0px;
}

.goButton {
    margin-left: 10px;
    margin-bottom: 20px;
}